<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/history"></ion-back-button>
    </ion-buttons>
    <ion-title>Create Workout Plan</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form #workoutPlanForm="ngForm">
    <ion-item>
      <ion-label>Begin Date</ion-label>
      <ion-select
        name="beginDate"
        [(ngModel)]="beginMS"
        (ionChange)="beginDateChanged()"
        #endDateSelect="ngModel"
        required
        [disabled]="disableDateChange"
      >
        <ion-select-option *ngFor="let dt of beginDates" [value]="dt.getTime()">{{ dt | date }}</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-list>
      <app-day-header (click)="addExercise(0)">Sunday</app-day-header>
      <app-workout-log-entry-list-item *ngFor="let log of exerciseLogs[0]" [workoutLogEntry]="log" (delete)="delete(log)">
      </app-workout-log-entry-list-item>
      <app-day-header (click)="addExercise(1)">Monday</app-day-header>
      <app-workout-log-entry-list-item *ngFor="let log of exerciseLogs[1]" [workoutLogEntry]="log" (delete)="delete(log)">
      </app-workout-log-entry-list-item>
      <app-day-header (click)="addExercise(2)">Tuesday</app-day-header>
      <app-workout-log-entry-list-item *ngFor="let log of exerciseLogs[2]" [workoutLogEntry]="log" (delete)="delete(log)">
      </app-workout-log-entry-list-item>
      <app-day-header (click)="addExercise(3)">Wednesday</app-day-header>
      <app-workout-log-entry-list-item *ngFor="let log of exerciseLogs[3]" [workoutLogEntry]="log" (delete)="delete(log)">
      </app-workout-log-entry-list-item>
      <app-day-header (click)="addExercise(4)">Thursday</app-day-header>
      <app-workout-log-entry-list-item *ngFor="let log of exerciseLogs[4]" [workoutLogEntry]="log" (delete)="delete(log)">
      </app-workout-log-entry-list-item>
      <app-day-header (click)="addExercise(5)">Friday</app-day-header>
      <app-workout-log-entry-list-item *ngFor="let log of exerciseLogs[5]" [workoutLogEntry]="log" (delete)="delete(log)">
      </app-workout-log-entry-list-item>
      <app-day-header (click)="addExercise(6)">Saturday</app-day-header>
      <app-workout-log-entry-list-item *ngFor="let log of exerciseLogs[6]" [workoutLogEntry]="log" (delete)="delete(log)">
      </app-workout-log-entry-list-item>
    </ion-list>
  </form>
</ion-content>
