<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="primary">
      <ion-button id="logout-button" (click)="authentication.logout()">
        <ion-icon slot="icon-only" name="log-out"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Exercises</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list *ngFor="let e of exercisesByArea">
    <ion-list-header>
      <ion-label>{{ e.area }}</ion-label>
    </ion-list-header>
    <app-exercise-list-item
      *ngFor="let exercise of e.exercises"
      [exercise]="exercise"
      (delete)="delete(exercise)"
      (edit)="edit(exercise)"
    ></app-exercise-list-item>
  </ion-list>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button id="add-button" color="tertiary" (click)="add()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
