<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/history"></ion-back-button>
    </ion-buttons>
    <ion-title>Create Workout Plan</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form #workoutPlanForm="ngForm">
    <ion-item>
      <ion-label>Begin Date</ion-label>
      <ion-select
        name="beginDate"
        [(ngModel)]="beginMS"
        (ionChange)="beginDateChanged()"
        #endDateSelect="ngModel"
        required
        [disabled]="disableDateChange"
      >
        <ion-select-option *ngFor="let dt of beginDates" [value]="dt.getTime()">{{ dt | date }}</ion-select-option>
      </ion-select>
    </ion-item>

    <app-weekly-workout
      [exerciseLogs]="exerciseLogs"
      (add)="add($event)"
      (delete)="delete($event)"
      (edit)="edit($event)"
    ></app-weekly-workout>
  </form>
</ion-content>
