<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="primary">
      <ion-button id="logout-button" (click)="logout()">
        <ion-icon slot="icon-only" name="log-out"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Current Workout</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-segment color="secondary" [(ngModel)]="currentView">
    <ion-segment-button value="today">
      <ion-label>Today</ion-label>
    </ion-segment-button>
    <ion-segment-button value="this-week">
      <ion-label>This Week</ion-label>
    </ion-segment-button>
  </ion-segment>

  <app-this-week
    *ngIf="currentView === 'this-week'"
    [logEntries]="logEntries"
    (add)="add($event)"
    (edit)="edit($event)"
    (delete)="delete($event)"
  ></app-this-week>
  <app-today
    *ngIf="currentView === 'today'"
    [logEntries]="logEntries[day]"
    [day]="day"
    (add)="add($event)"
    (edit)="edit($event)"
    (delete)="delete($event)"
    (toggle)="save($event)"
  >
  </app-today>
</ion-content>
